<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit page</title>

<style type='text/css'>
form{
	margin-left:100px;
	text_align:left;
}
.title{
	width:600px;
	height:auto;
	word-break:break-all;
}
.content{
	width:600px;
	height:200px;
	word-break:break-all;
}
body{
	background:url(http://file.hanfcn.com/attachment/webbg/20171213/hanfcn.com_20171213112354ttdbfxa5qua.jpg) no-repeat center;
	background-size: 100% 100%;
    background-attachment: fixed;
}
</style>
</head>
<body >
	<form action={% url 'blog_app:edit_action' %} method="post">
		{% csrf_token %} 
		<input type='hidden' name='article_id' value='{{article.id | default:"0"}}'>
		<label><h1>博客编辑</h1></label>
		<br/><br/>
		<label><h2>标题:<br/><input class='title' type="text" text-align:center name='title' value="{{article.title}}"></h2></label><br /> 
		<label><h2>内容:<br/><br/><input class='content' type="text" text-align:center name="content" value="{{article.content}}"></h2></label>
		<br /><br /><br /><br /><br /> 
		<div style='text-align:right;width:600px;'><input type="submit" name="submit"></div>
	</form>
</body>
</html>